.WrapDiv {
  max-width: 1024px !important;
}

.contactSec1 {
  max-width: 400px !important;
  margin: auto !important;
}

.homeSec1, .homeSec2, .homeSec3, .settingsSec1 {
  max-width: 400px !important; 
  margin: 10px auto 30px auto !important;
}


@media screen and (max-width: 480px){
  
  
}