/*~~~~~~~~~~~~~~~~~~~~~~~~
  Eneler Stylesheet
  Copyright 2015
~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~
  Header
~~~~~~~~~~~~~~~*/

header {
  background-color: #61e0c9;
  color: #fff !important;
  border-bottom: 2px solid #57DAC3;
}

header h1 {
  color: #fff !important;
  text-align: center;
  margin-left: -50px;
  font-weight: normal !important;
}

header h1 a, header h1 a:hover, header h1 a:link, header h1 a:visited {
  color: #fff !important;
}

body input[id="drawer-toggle"] {
  vertical-align: middle;
}

/* Custom Drawer Styles */

#drawer ul li {
  padding: 25px 0 !important;
  margin: 0;
  width: 100%;
}

#drawer ul li a {
  padding: 25px 300px 25px 25px;
}

#drawer ul li:hover {
  background-color: #16d4b1;
  color: #fff !important;
}

#drawer ul li a:hover {
  color: #fff !important;
}

#Login a {
  padding: 25px 120px 25px 25px !important;
}

#navTerms a {
  padding: 25px 115px 25px 25px !important;
}

/*~~~~ End ~~~~*/

/*~~~~~~~~~~~~~~~
	Global Styles
~~~~~~~~~~~~~~~*/

html, body {
	font-family: 'Open Sans' !important;
	color: #5e5e5e;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a {
    color: #61e0c9;
    text-decoration: none;
}

a:link {
    color: #61e0c9;
    text-decoration: none;
}

a:visited {
   color: #61e0c9;
   text-decoration: none;
}

a:hover {
    color: #16d4b1;
    text-decoration: none;
}

a:active {
    color: #61e0c9;
    text-decoration: none;
}

.WrapDiv {
  margin: 0 auto !important;
  text-align: center;
}

input[type=”text”]:focus {
	outline: none !important;
  border: 1px solid #61e0c9 !important;
}

input[type="submit"]:focus {
  outline: none !important;
}

/*~~~~ End ~~~~*/

/*~~~~~~~~~~~~~~~
  Footer
~~~~~~~~~~~~~~~*/

footer {
  text-align: center;
  margin: 5px;
  margin-top: 40px;
  padding-top: 10px;
  border-top: 1px solid #61e0c9;
}

footer ul li {
  display: inline-block;
  padding: 5px;
  margin: 5px 8px;
}

footer ul li a {
  font-size: 1.5rem;
}

footer p {
  margin: 5px 0;
  color: #61e0c9;
  font-size: 0.9rem;
}

/*~~~~ End ~~~~*/

/*~~~~~~~~~~~~~~~
  Home Styles
~~~~~~~~~~~~~~~*/
.homeSec1 {
  margin: 10px 0 30px 0;
}

.homeSec1 h3 {
  margin: 25px 0 15px 0;
  font-size: 1.4rem;
}

.homeSec1 ul li input {
  width: 80%;
  margin-bottom: 8px;
  border: 1px solid #d3d3d3;
  padding: 10px 0 10px 10px;
  border-radius: 4px;
}

.homeSec1 ul li input[type="submit"] {
  border: 1px solid #61e0c9;
  background-color: #61e0c9;
  color: #fff;
}

.homeSec1 ul li input[type="submit"]:hover {
  border: 1px solid #57DAC3;
  background-color: #57DAC3;
}

.homeInfo h3 {
  font-size: 1.2rem;
  margin: 25px 0 10px 0;
}

.homeSec2 {
  border-top: 1px solid #61e0c9;
}

.homeSec2 p {
  width: 90%;
  text-align: left !important;
  margin-bottom: 5px;
  margin: auto;
}

.homeSec2 p {
  text-align: center !important;
}

.homeSec3 {
  margin-top: 50px;
  font-size: 1.1rem;
  margin-top: 5px !important;
}

.homeSec3 ul, .homeSec3 p {
  width: 81%;
  text-align: left;
  margin-bottom: 5px;
  margin: auto;
}

.homeSec3 ul li {
  display: inline-block !important;
  word-wrap: break-word !important;
}

.homeSec3 ul li:nth-child(2) {
  width: 100%;
  margin-bottom: 10px;
}

.helpCenterThree {
    border-top: 1px solid #404040;
    text-align: left !important;
}

.helpThree > li {
    width: 28%;
    display: inline-block;
}

.helpThree li ul li h3 {
    margin: 5px 0 4px 0;
}

.helpThree li ul li p {
    margin: 0 0 2px 0;
}

/*~~~~ End ~~~~*/

/*~~~~~~~~~~~~~~~
  Profile Styles
~~~~~~~~~~~~~~~*/
.profileSec1 {
  
}

.profileSec1 ul li img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profileSecInfo {
  text-align: center;
  margin: auto;
  width: 80%;
}

.profileSecInfo li {
  text-align: left;
}

.profileSec1Info ul li h4 {
  font-size: 1.4rem !important;
}

.profileSec1Info > li:nth-child(2) {
  color: #6c54b3;
  font-size: 0.9rem !important;
  margin-left: -10px;
  margin-bottom: 15px;
}

.profileSec1Social {
  margin-top: 20px;
}

.profileSec1Social ul li {
  margin: 20px;
  padding: 10px;
  display: inline-block;
  width: 10%;
}

.profileSec1Social ul li a {
  color: #fff !important;
  background-color: #3b5998;
  border-radius: 4px;
  width: 100% !important;
  padding: 10px;
}

.profileFB a {
  padding: 10px 13px !important;
}

.profileTW a {
  background-color: #4099ff !important;
  padding: 10px 23px !important;
}

.profileGH a {
  background-color: #404040 !important;
  padding: 10px 22px !important;
}

.profileLinked a {
  background-color: #4875B4 !important;
  padding: 10px 16px !important;
}

.profileIN a {
  background-color: #4E433C !important;
}

.profileYT a {
  background-color: #FF3333 !important;
  padding: 10px 17px !important;
}

 

/*~~~~ End ~~~~*/

/*~~~~~~~~~~~~~~~
  Manager Styles
~~~~~~~~~~~~~~~*/
/*
.managerSec1 h3 {
  margin: 25px 0 15px 0;
  font-size: 1.4rem;
}

.managerSec1Ul li ul {
  display: inline-block;
  
}

.managerSec1UlPrimary {
  width: 80%;
  text-align: left !important;
}

.managerSec1UlPrimary a {
  color: #5e5e5e !important;
}

.managerSec1UlPrimary:first-child {
  width: 70%;
  margin: 10px 0 5px 0;
}

.managerSec1UlPrimary:first-child li a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.managerSec1UlPrimary:last-child {
  width: 70%;
  margin: 5px 0 10px 0;
}

.managerSec1UlPrimary:last-child li {
  overflow: hidden;
  text-overflow: ellipsis !important;
  white-space: nowrap;
}

.managerSec1UlSecndary {
  width: 10% !important;
}
*/
/*~~~~ End ~~~~*/

/*~~~~~~~~~~~~~~~
  Settings Styles
~~~~~~~~~~~~~~~*/

.settingsSec1 h3 {
  margin: 25px 0 15px 0;
  font-size: 1.4rem;
}

.settingsFormUl > li {
  padding: 10px;
  margin: 0 10px;
}

.settingsFormUl li ul li {
  display: inline-block;
}

.settingsFormUl li ul li h4 i {
  margin-right: 0;
}

.settingsFormUl li ul li:last-child {
  width: 90% !important; 
}

.settingsFormUl li ul li input {
  width: 90%;
  margin-bottom: 8px;
  border: 1px solid #d3d3d3;
  padding: 10px 0 10px 10px;
  border-radius: 4px;
}

.settingsFormUl li > input[type="submit"] {
  width: 80% !important;
  margin-bottom: 8px;
  border: 1px solid #d3d3d3;
  padding: 10px 0 10px 10px;
  border-radius: 4px;
  margin-left: 18px !important;
  max-width: 200px!important;
}

.settingsFormUl li > input[type="submit"] {
  border: 1px solid #61e0c9;
  background-color: #61e0c9;
  color: #fff;
}

.contactSec1 ul li input[type="submit"]:hover {
  border: 1px solid #57DAC3;
  background-color: #57DAC3;
}

/*~~~~ End ~~~~*/

/*~~~~~~~~~~~~~~~
  About Styles
~~~~~~~~~~~~~~~*/

.aboutSec1 h3 {
  margin: 25px 0 15px 0;
  font-size: 1.4rem;
}

.aboutSec1 > p {
   text-align: left;
   line-height: 1.5;  
}

.aboutSec1 img {
  border-radius: 10px;
}

.aboutP1 {
  border-bottom: 1px solid #61e0c9;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.aboutP2 {
  border-top: 1px solid #61e0c9;
  padding-top: 20px;
  margin-top: 20px;
}

.aboutImg {
	width: 75% !important;
}

/*~~~~ End ~~~~*/

/*~~~~~~~~~~~~~~~
  Contact Styles
~~~~~~~~~~~~~~~*/

.contactSec1 h3 {
  margin: 25px 0 15px 0;
  font-size: 1.4rem;
}

.contactSec1 ul li input, .contactSec1 ul li textarea {
  width: 80%;
  margin-bottom: 8px;
  border: 1px solid #d3d3d3;
  padding: 10px 0 10px 10px;
  border-radius: 4px;
}

.contactSec1 ul li textarea {
  height: 80px;
}

.contactSec1 ul li input[type="submit"] {
  border: 1px solid #61e0c9;
  background-color: #61e0c9;
  color: #fff;
}

.contactSec1 ul li input[type="submit"]:hover {
  border: 1px solid #57DAC3;
  background-color: #57DAC3;
}


/*~~~~ End ~~~~*/

/*~~~~~~~~~~~~~~~
  Terms & Privacy Styles
~~~~~~~~~~~~~~~*/

.termsSec1 h3 {
  margin: 25px 0 15px 0;
  font-size: 1.4rem;
}

.termsSec1 > p {
   text-align: left;
   line-height: 1.5;
}

/*~~~~ End ~~~~*/

/*~~~~~~~~~~~~~~~
  404 Error Styles
~~~~~~~~~~~~~~~*/

.errorSec1 {
  margin-top: 50px;
}

.errorSec1 h3 {
  font-size: 3.5rem;
  margin: 8px 8px 8px -190px;
}

.errorSec1 p {
  font-size: 1.1rem;
}

.errorSec1 p:nth-child(2) {
  margin: 10px 0;
}

.errorSec1 p:nth-child(3) {
  margin-bottom: 30px;
}

.errorSec1 a {
  color: #fff;
  background-color: #61e0c9;
  padding: 10px 16px;
  border-radius: 4px;
}

/*~~~~ End ~~~~*/

/*~~~~~~~~~~~~~~~
  Add URL Modal Styles
~~~~~~~~~~~~~~~*/



/*~~~~ End ~~~~*/

/*~~~~~~~~~~~~~~~
  Edit URL Modal Styles
~~~~~~~~~~~~~~~*/



/*~~~~ End ~~~~*/