/*~~~~~~~~~~~~~~~~~~~~~~~~
  Eneler Stylesheet
  Copyright 2015
~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~
  Header
~~~~~~~~~~~~~~~*/

header {
  background-color: #61e0c9;
  color: #fff !important;
  border-bottom: 2px solid #57DAC3;
}

header h1 {
  color: #fff;
  text-align: center;
  margin-left: -50px;
}

body input[id="drawer-toggle"] {
  vertical-align: middle;
}

/* Custom Drawer Styles */

#drawer ul li {
  padding: 25px 0 !important;
  margin: 0;
  width: 100%;
}

#drawer ul li a {
  padding: 25px 300px 25px 25px !important;
}

#drawer ul li:hover {
  background-color: #16d4b1;
  color: #fff !important;
}

#drawer ul li a:hover {
  color: #fff !important;
}

/*~~~~ End ~~~~*/

/*~~~~~~~~~~~~~~~
	Global Styles
~~~~~~~~~~~~~~~*/

html, body {
	font-family: 'OpenSansRegular' !important;
	color: #5e5e5e;
}

h1, h2, h3, h4, h5, h6 {
	color: #404040;
}

a {
    color: #61e0c9;
    text-decoration: none;
}

a:link {
    color: #61e0c9;
    text-decoration: none;
}

a:visited {
   color: #61e0c9;
   text-decoration: none;
}

a:hover {
    color: #16d4b1;
    text-decoration: none;
}

a:active {
    color: #61e0c9;
    text-decoration: none;
}

/*~~~~ End ~~~~*/

html, body {
	font-family: 'OpenSansRegular' !important;
	color: #5e5e5e;
}

h1, h2, h3, h4, h5, h6 {
	color: #404040;
}

a {
    color: #61e0c9;
    text-decoration: none;
}

a:link {
    color: #61e0c9;
    text-decoration: none;
}

a:visited {
   color: #61e0c9;
   text-decoration: none;
}

a:hover {
    color: #16d4b1;
    text-decoration: none;
}

a:active {
    color: #61e0c9;
    text-decoration: none;
}

/*~~~~ End ~~~~*/

/*~~~~~~~~~~~~~~~
  Footer
~~~~~~~~~~~~~~~*/

footer {
  text-align: center;
  margin: 5px 10%;
  padding-top: 10px;
  border-top: 1px solid #61e0c9;
}

footer ul li {
  display: inline-block;
  padding: 5px;
  margin: 5px 10px;
}

footer ul li a {
  font-size: 1.5rem;
}

footer p {
  margin: 5px 0;
  color: #61e0c9;
  font-size: 0.9rem;
}

/*~~~~ End ~~~~*/

/*~~~~~~~~~~~~~~~
  Home Styles
~~~~~~~~~~~~~~~*/



/*~~~~ End ~~~~*/