<template name="Home">
  <div id="page-content">
    <div class="primary-content">
      <div class="homeDiv WrapDiv">
        <div class="homeSec1">
          <h3>Shorten Your Links</h3>
          <ul class="homeFormUl">
            <li><input type="text" placeholder="Original URL"></li>
            <li><input type="text" placeholder="Custom Link (Optional)"></li>
            <li><input type="submit" value="Shorten" ></li>
          </ul>
        </div>
        <div class="homeSec2 homeInfo">
          <h3>Simplify The Internet</h3>
          <p>With Eneler, you can shorten large URLs on the internet.</p>
        </div>
        <div class="homeSec3 homeInfo">
          <h3>Shortening The Path</h3>
          <ul>
            <li>Covert this..</li>
            <li><a href="#">http://example.com/images/jhg77yuih3khkj3h4k3hb2kmn2k2hk5v24k5h/temp/mem/564634377hkg/</a></li>
          </ul>
          <p>To this... <br><a href="">Eneler.com/example</a></p>
        </div>
        <footer>
          <ul>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
          </ul>
          <p>&copy; 2015 Eneler</p>
        </footer>
      </div>
    </div>
  </div>
</template>