<template name="Home">
  <div id="page-content">
    <div class="primary-content">
      <div class="homeDiv WrapDiv">
        <div class="homeSec1">
          <h3>Shorten Your Links</h3>
          <ul class="homeFormUl">
            <li><input type="text" placeholder="Long URL"></li>
            <li><input type="text" placeholder="Custom Link (Optional)"></li>
            <li><input type="submit" value="Shorten" ></li>
          </ul>
        </div>
        <div class="homeSec3 homeInfo">
          <h3>Simplify The Internet</h3>
          <p>With Eneler, you can shorten large URLs on the internet.</p>
        </div>
        <div class="homeSec4 homeInfo">
          <h3>Shortening The Path</h3>
          <p>Turn this <span>http://example.com/images/jhg77yuih3khkj3h4k3hb2kmn2k2hk5gv24k5h/temp/mem/564634377hkg</span></p>
          <p>Into this <span>Eneler.com/example</span></p>
        </div>
      </div>
    </div>
  </div>
</template>