<template name="Manager">
  <div id="page-content">
    <div class="primary-content">
      <div class="managerDiv WrapDiv">
        <div class="managerSec2">
          <h3>URLs Manager</h3>
          <ul class="managerSec2Ul">
            {{> ManagerLinks}}
            <!-- !!!IMPORTANT!!! Example Cards, Delete Before Demo -->
            <li>
              <ul class="managerSec2UlPrimary">
                <!-- For First One href is http://eneler.com/CustomUrlName -->
                <!-- For Second One href is the Orignal long Url -->
                <li><a href="#">/CustomUrlName</a></li>
                <li><a href="#">http://example.com/images/jhg77yuih3khkj3h3hb2mn2k2hk5gv24k5h/temp/mem/564634377hkg/</a></li>
              </ul>
              <ul class="managerSec2UlSecondary">
                <li><i class="fa fa-pencil"></i></li>
                <li><i class="fa fa-trash"></i></li>
              </ul>
            </li>
            <li>
              <ul class="managerSec2UlPrimary">
                <li><a href="#">/CustomUrlName</a></li>
                <li><a href="#">http://example.com/images/jhg77yuih3khkj3h3hb2kn2k2hk5gv24k5h/temp/mem/564634377hkg/</a></li>
              </ul>
              <ul class="managerSec2UlSecondary">
                <li><i class="fa fa-pencil"></i></li>
                <li><i class="fa fa-trash"></i></li>
              </ul>
            </li>
            <li>
              <ul class="managerSec2UlPrimary">
                <li><a href="#">/CustomUrlName</a></li>
                <li><a href="#">http://example.com/images/jhg77yuih3khkj3h3hb2km2k2hk5gv24k5h/temp/mem/564634377hkg/</a></li>
              </ul>
              <ul class="managerSec2UlSecondary">
                <li><i class="fa fa-pencil"></i></li>
                <li><i class="fa fa-trash"></i></li>
              </ul>
            </li>
            <li>
              <ul class="managerSec2UlPrimary">
                <li><a href="#">/CustomUrlName</a></li>
                <li><a href="#">http://example.com/images/jhg77yuih3khkj3h3hb2kmn2k2k5gv24k5h/temp/mem/564634377hkg/</a></li>
              </ul>
              <ul class="managerSec2UlSecondary">
                <li><i class="fa fa-pencil"></i></li>
                <li><i class="fa fa-trash"></i></li>
              </ul>
            </li>
            <li>
              <ul class="managerSec2UlPrimary">
                <li><a href="#">/CustomUrlName</a></li>
                <li><a href="#">http://example.com/images/jhg77yuih3khkj3h3hb2kmnk2hk5gv24k5h/temp/mem/564634377hkg/</a></li>
              </ul>
              <ul class="managerSec2UlSecondary">
                <li><i class="fa fa-pencil"></i></li>
                <li><i class="fa fa-trash"></i></li>
              </ul>
            </li>
            <li>
              <ul class="managerSec2UlPrimary">
                <li><a href="#">/CustomUrlName</a></li>
                <li><a href="#">http://example.com/images/jhg77yuih3khkj3h3hb2kmn2khk5gv24k5h/temp/mem/564634377hkg/</a></li>
              </ul>
              <ul class="managerSec2UlSecondary">
                <li><i class="fa fa-pencil"></i></li>
                <li><i class="fa fa-trash"></i></li>
              </ul>
            </li>
            <li>
              <ul class="managerSec2UlPrimary">
                <li><a href="#">/CustomUrlName</a></li>
                <li><a href="#">http://example.com/images/jhg77yuih3khkj3h3hb2kmn22hk5gv24k5h/temp/mem/564634377hkg/</a></li>
              </ul>
              <ul class="managerSec2UlSecondary">
                <li><i class="fa fa-pencil"></i></li>
                <li><i class="fa fa-trash"></i></li>
              </ul>
            </li>
            <li>
              <ul class="managerSec2UlPrimary">
                <li><a href="#">/CustomUrlName</a></li>
                <li><a href="#">http://example.com/images/jhg77yuih3khkj3h3hb2kmn2khk5gv24k5h/temp/mem/564634377hkg/</a></li>
              </ul>
              <ul class="managerSec2UlSecondary">
                <li><i class="fa fa-pencil"></i></li>
                <li><i class="fa fa-trash"></i></li>
              </ul>
            </li>
            <li>
              <ul class="managerSec2UlPrimary">
                <li><a href="#">/CustomUrlName</a></li>
                <li><a href="#">http://example.com/images/jhg77yuih3khkj3h3hb2mn2k2hk5gv24k5h/temp/mem/564634377hkg/</a></li>
              </ul>
              <ul class="managerSec2UlSecondary">
                <li><i class="fa fa-pencil"></i></li>
                <li><i class="fa fa-trash"></i></li>
              </ul>
            </li>
            <li>
              <ul class="managerSec2UlPrimary">
                <li><a href="#">/CustomUrlName</a></li>
                <li><a href="#">http://example.com/images/jhg77yuih3kkj3h3hb2kmn2k2hk5gv24k5h/temp/mem/564634377hkg/</a></li>
              </ul>
              <ul class="managerSec2UlSecondary">
                <li><i class="fa fa-pencil"></i></li>
                <li><i class="fa fa-trash"></i></li>
              </ul>
            </li>
          <!-- !!!IMPORTANT!!! Example Cards, Delete Before Demo -->
          </ul>
        </div>
        <footer>
          <ul>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
          </ul>
          <p>&copy; 2015 Eneler</p>
        </footer>
      </div>
    </div>
  </div>
</template>