<template name="Profile">
  <div id="page-content">
    <div class="primary-content">
      <div class="profileDiv WrapDiv">
        <div class="profileSec1">
          <ul class="profileSec1Ul">
            <li><img src="http://images.sodahead.com/polls/002414301/5247598126_mrbean_rare_collection_xlarge.jpeg{{imageProfile}}"></li>
            <li class="profileSec1Info">
              <ul>
                <li><h4>Nathan Chackerian{{nameProfile}}</h4></li>
                <li>5{{shortenedProfile}} URLs Claimed</li>
                <li class="profileSec1InfoSocial">
                  <ul>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-github"></i></a></li>
                    <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="profileSec2">
          <ul class="profileSec2Ul">
            {{> ProfileLinks}}
            <!-- !!!IMPORTANT!!! Example Cards, Delete Before Demo -->
            <li>
              <ul>
                <!-- For First One href is http://eneler.com/CustomUrlName -->
                <!-- For Second One href is the Orignal long Url -->
                <li><a href="#">/CustomUrlName</a></li>
                <li><a href="#">http://example.com/images/jhg77yuih3khkj3h3hb2kmn2k2hk5gv24k5h/temp/mem/564634377hkg/</a></li>
              </ul>
            </li>
            <li>
              <ul>
                <li><a href="#">/CustomUrlName</a></li>
                <li><a href="#">http://example.com/images/jhg77yuih3khkj3h3hb2kmn2k2hk5gv24k5h/temp/mem/564634377hkg/</a></li>
              </ul>
            </li>
            <li>
              <ul>
                <li><a href="#">/CustomUrlName</a></li>
                <li><a href="#">http://example.com/images/jhg77yuih3khkj3h3hb2kmn2k2hk5gv24k5h/temp/mem/564634377hkg/</a></li>
              </ul>
            </li>
            <li>
              <ul>
                <li><a href="#">/CustomUrlName</a></li>
                <li><a href="#">http://example.com/images/jhg77yuih3khkj3h3hb2kmn2k2hk5gv24k5h/temp/mem/564634377hkg/</a></li>
              </ul>
            </li>
            <li>
              <ul>
                <li><a href="#">/CustomUrlName</a></li>
                <li><a href="#">http://example.com/images/jhg77yuih3khkj3h3hb2kmn2k2hk5gv24k5h/temp/mem/564634377hkg/</a></li>
              </ul>
            </li>
            <li>
              <ul>
                <li><a href="#">/CustomUrlName</a></li>
                <li><a href="#">http://example.com/images/jhg77yuih3khkj3h3hb2kmn2k2hk5gv24k5h/temp/mem/564634377hkg/</a></li>
              </ul>
            </li>
            <li>
              <ul>
                <li><a href="#">/CustomUrlName</a></li>
                <li><a href="#">http://example.com/images/jhg77yuih3khkj3h3hb2kmn2k2hk5gv24k5h/temp/mem/564634377hkg/</a></li>
              </ul>
            </li>
            <li>
              <ul>
                <li><a href="#">/CustomUrlName</a></li>
                <li><a href="#">http://example.com/images/jhg77yuih3khkj3h3hb2kmn2k2hk5gv24k5h/temp/mem/564634377hkg/</a></li>
              </ul>
            </li>
            <li>
              <ul>
                <li><a href="#">/CustomUrlName</a></li>
                <li><a href="#">http://example.com/images/jhg77yuih3khkj3h3hb2kmn2k2hk5gv24k5h/temp/mem/564634377hkg/</a></li>
              </ul>
            </li>
            <li>
              <ul>
                <li><a href="#">/CustomUrlName</a></li>
                <li><a href="#">http://example.com/images/jhg77yuih3khkj3h3hb2kmn2k2hk5gv24k5h/temp/mem/564634377hkg/</a></li>
              </ul>
            </li>
            <!-- UP !!!IMPORTANT!!! Example Cards, Delete Before Demo -->
          </ul>
        </div>
        <footer>
          <ul>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
          </ul>
          <p>&copy; 2015 Eneler</p>
        </footer>
      </div>
    </div>
  </div>
</template>