<template name="Profile">
  <div id="page-content">
    <div class="primary-content">
      <div class="profileDiv WrapDiv">
        <div class="profileSec1">
          <ul class="profileSec1Ul">
            <li><img src="http://images.sodahead.com/polls/002414301/5247598126_mrbean_rare_collection_xlarge.jpeg{{imageProfile}}"></li>
            <li class="profileSec1Info">
              <ul>
                <li><h4>Nathan Chackerian{{nameProfile}}</h4></li>
                <li>5{{shortenedProfile}} URLs Claimed</li>
                <li class="profileSec1Social">
                  <ul>
                    <!-- {{}} href from settings 
                    1. Twitter
                    2. Facebook
                    3. Github
                    4. Linkedin
                    -->
                    <li class="profileGH"><a href="">GitHub</a></li>
                    <li class="profileFB"><a href="">Facebook</a></li>
                    <br>
                    <li class="profileTW"><a href="">Twitter</a></li>
                    <li class="profileYT"><a href="">Youtube</a></li>
                    <br>
                    <li class="profileLinked"><a href="">LinkedIn</a></li>
                    <li class="profileIN"><a href="">Instagram</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- <div class="profileSec2">
          <ul class="profileSec2Ul">
            {{> ProfileLinks}}
          </ul>
        </div> -->
        <footer>
          <ul>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
          </ul>
          <p>&copy; 2015 Eneler</p>
        </footer>
      </div>
    </div>
  </div>
</template>