<template name="Profile">
  <div id="page-content">
    <div class="primary-content">
      <div class="profileDiv WrapDiv">
        <div class="profileSec1">
          <ul class="profileSec1Ul">
            <li><img src="http://cdn3.rd.io/user/no-user-image-square.jpg"></li>
            <li class="profileSec1Info">
              <ul>
                <li><h4>Nathan Chackerian</h4></li>
                <li>34 URLs Shortened</li>
                <li class="profileSec1InfoSocial">
                  <ul>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-github"></i></a></li>
                    <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="profileSec2">
          <ul class="profileSec2Ul">
            {{> ProfileLinks}}
            <!-- !!!IMPORTANT!!! Example Cards, Delete Before Demo -->
            <li>
              <ul>
                <!-- For First One href is http://eneler.com/CustomUrlName -->
                <!-- For Second One href is the Orignal long Url -->
                <li><a href="#">/CustomUrlName</a></li>
                <li><a href="#">http://example.com/images/jhg77yuih3khkj3h3hb2kmn2k2hk5gv24k5h/temp/mem/564634377hkg/</a></li>
              </ul>
            </li>
            <li>
              <ul>
                <li><a href="#">/CustomUrlName</a></li>
                <li><a href="#">http://example.com/images/jhg77yuih3khkj3h3hb2kmn2k2hk5gv24k5h/temp/mem/564634377hkg/</a></li>
              </ul>
            </li>
            <li>
              <ul>
                <li><a href="#">/CustomUrlName</a></li>
                <li><a href="#">http://example.com/images/jhg77yuih3khkj3h3hb2kmn2k2hk5gv24k5h/temp/mem/564634377hkg/</a></li>
              </ul>
            </li>
            <li>
              <ul>
                <li><a href="#">/CustomUrlName</a></li>
                <li><a href="#">http://example.com/images/jhg77yuih3khkj3h3hb2kmn2k2hk5gv24k5h/temp/mem/564634377hkg/</a></li>
              </ul>
            </li>
            <li>
              <ul>
                <li><a href="#">/CustomUrlName</a></li>
                <li><a href="#">http://example.com/images/jhg77yuih3khkj3h3hb2kmn2k2hk5gv24k5h/temp/mem/564634377hkg/</a></li>
              </ul>
            </li>
            <li>
              <ul>
                <li><a href="#">/CustomUrlName</a></li>
                <li><a href="#">http://example.com/images/jhg77yuih3khkj3h3hb2kmn2k2hk5gv24k5h/temp/mem/564634377hkg/</a></li>
              </ul>
            </li>
            <li>
              <ul>
                <li><a href="#">/CustomUrlName</a></li>
                <li><a href="#">http://example.com/images/jhg77yuih3khkj3h3hb2kmn2k2hk5gv24k5h/temp/mem/564634377hkg/</a></li>
              </ul>
            </li>
            <li>
              <ul>
                <li><a href="#">/CustomUrlName</a></li>
                <li><a href="#">http://example.com/images/jhg77yuih3khkj3h3hb2kmn2k2hk5gv24k5h/temp/mem/564634377hkg/</a></li>
              </ul>
            </li>
            <li>
              <ul>
                <li><a href="#">/CustomUrlName</a></li>
                <li><a href="#">http://example.com/images/jhg77yuih3khkj3h3hb2kmn2k2hk5gv24k5h/temp/mem/564634377hkg/</a></li>
              </ul>
            </li>
            <li>
              <ul>
                <li><a href="#">/CustomUrlName</a></li>
                <li><a href="#">http://example.com/images/jhg77yuih3khkj3h3hb2kmn2k2hk5gv24k5h/temp/mem/564634377hkg/</a></li>
              </ul>
            </li>
            <!-- UP !!!IMPORTANT!!! Example Cards, Delete Before Demo -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>