<template name="Settings">
  <div id="page-content">
    <div class="primary-content">
      <div class="setttingsDiv WrapDiv">
        <div class="settingsSec1">
          <h3>Settings<i class="fa fa-gears"></i></h3>
          <ul class="settingsFormUl">
            <li class="settingsEmail">
              <ul>
                <li><h4><i class="fa fa-envelope"></i></h4></li>
                <li><input type="text" placeholder="User@example.com"></li>
              </ul>
            </li>
            <li class="settingsFB">
              <ul>
                <li><h4><i class="fa fa-facebook"></i></h4></li>
                <li><input type="text" placeholder="facebook.com/User"></li>
              </ul>
            </li>
            <li class="settingsTW">
              <ul>
                <li><h4><i class="fa fa-twitter"></i></h4></li>
                <li><input type="text" placeholder="twitter.com/User"></li>
              </ul>
            </li>
            <li class="settingsIN">
              <ul>
                <li><h4><i class=""></i></h4></li>
                <li><input type="text" placeholder="linkedin.com/User"></li>
              </ul>
            </li>
          </ul>
        </div>
        <footer>
          <ul>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
          </ul>
          <p>&copy; 2015 Eneler</p>
        </footer>
      </div>
    </div>
  </div>
</template>