<template name="headerHomePost">
  <input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
  <label for="drawer-toggle" id="drawer-toggle-label"></label>
  <header>
    <h1 class="headerMain"><a href="/">Eneler</a></h1>
  </header>
  <nav id="drawer">
    <ul>
       <li><a href="/">Home</a></li>
       <li><a href="/en/profile/{{meteorId}}">{{name}}</a></li> 
       <li><a href="/en/settings">Settings</a></li>
       <li><a href="/en/about">About</a></li>
       <li><a href="/en/contact">Contact</a></li>
       <li id="navTerms"><a href="/en/terms">Terms & Privacy</a></li>
    </ul>
  </nav>
</template>