<template name="About">
<div id="page-content">
<div class="primary-content">
<div class="aboutDiv WrapDiv">
<div class="aboutSec1">
<h3>About</h3>
<p class="aboutP">
{{#markdown}}
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam est ligula, sagittis ac pretium in, dignissim eu lacus. Cras varius tortor augue, nec dignissim nisl aliquam vel. Donec ultricies pulvinar augue. Vivamus quis tristique eros. Phasellus vitae accumsan sem, id interdum diam. Nunc ut lorem maximus, ultricies turpis luctus, gravida mi. Praesent varius lorem tellus, ut efficitur dolor efficitur sed. Pellentesque auctor justo quis erat pharetra, eget aliquet risus semper. Nullam lacus nunc, fringilla at finibus quis, tempus id urna. Suspendisse imperdiet, mi hendrerit pulvinar egestas, mauris justo gravida lectus, vel consequat lectus quam et nisl. Mauris sit amet elementum quam. Cras sed arcu condimentum, fringilla dui id, euismod lacus.
{{/markdown}}
</p>
<img class="aboutImg" src="http://chrisharrison.net/img/internetmapconnectionssplash.jpg">
<p class="aboutP">
{{#markdown}}
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam est ligula, sagittis ac pretium in, dignissim eu lacus. Cras varius tortor augue, nec dignissim nisl aliquam vel. Donec ultricies pulvinar augue. Vivamus quis tristique eros. Phasellus vitae accumsan sem, id interdum diam. Nunc ut lorem maximus, ultricies turpis luctus, gravida mi. Praesent varius lorem tellus, ut efficitur dolor efficitur sed. Pellentesque auctor justo quis erat pharetra, eget aliquet risus semper. Nullam lacus nunc, fringilla at finibus quis, tempus id urna. Suspendisse imperdiet, mi hendrerit pulvinar egestas, mauris justo gravida lectus, vel consequat lectus quam et nisl. Mauris sit amet elementum quam. Cras sed arcu condimentum, fringilla dui id, euismod lacus.
{{/markdown}}
</p>  
</div>
<footer>
<ul>
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
<li><a href="#"><i class="fa fa-instagram"></i></a></li>
<li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
</ul>
<p>&copy; 2015 Eneler</p>
</footer>
</div>
</div>
</div>
</template>

