<template name="Contact">
  <div id="page-content">
    <div class="primary-content">
      <div class="contactDiv WrapDiv">
        <div class="contactSec1">
          <h3>Contact Us</h3>
          <ul class="contactFormUl">
            <li><input type="text" placeholder="Full Name..."></li>
            <li><input type="text" placeholder="Email..."></li>
            <li><input type="text" placeholder="Subject..."></li>
            <li><textarea type="text" placeholder="Message..."></textarea></li>
            <li><input type="submit" placeholder="Send"></li>
          </ul>
        </div>
        <footer>
          <ul>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
          </ul>
          <p>&copy; 2015 Eneler</p>
        </footer>
      </div>
    </div>
  </div>
</template>